#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  column-count: 2;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.jb-offset-top-0 {
  margin-top: 0;
}

.jb-offset-top-4 {
  margin-top: 4px;
}

.jb-offset-top-8 {
  margin-top: 8px;
}

.jb-offset-top-12 {
  margin-top: 12px;
}

.jb-offset-top-16 {
  margin-top: 16px;
}

.jb-offset-top-24 {
  margin-top: 24px;
}

.jb-offset-top-32 {
  margin-top: 32px;
}

.jb-offset-top-48 {
  margin-top: 48px;
}

.jb-offset-top-64 {
  margin-top: 64px;
}

.jb-offset-top-96 {
  margin-top: 96px;
}
